.header, .footer{
  background: linear-gradient(135deg, #282828fa 0%, #14141472 50%, #17171794 100%);
}

/*Header*/
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0rem;
  animation: slideIn 1s ease;
}

.appName{
  display: flex;
  align-items: center;
  font-family: 'VNF-Comic-Sans';
  color: white;
  font-size: 0.8rem;
  margin-left: 1rem;
  animation: flipIn 1s ease;
}

.appLogo{
  align-items: center;
  align-content: center;
  margin-left: 1rem;
  max-height: 65px;
  padding: 0px;
}

.headerComponents{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
  animation: flipIn 1s ease;
}
.headerButton{
  font-weight: bold;
  font-size: 1rem;
  color: white;
  width: 100px;
  border: none;
  padding: 15px;
  margin: 0.2rem;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.5s ease;
}
.headerButton:hover{
  transform: translateY(-5px);
  background-color: rgba(143, 166, 187, 0.529);
}

.info {
  background-color: #f1f1f1; 
  padding: 10px; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
  position: absolute;
  z-index: 1;
  top: 0%;
  width: 300px; 
  animation: fadeIn 0.5s ease;
}

.closeInfoButton{
  background-color: #dc3545;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  transition: transform 0.5s ease;
}
.closeInfoButton:hover{
  transform: scale(1.1);
  background-color: #c82333;
}



/*Footer*/
.footer{
  color: white;
  padding: 5px;
  justify-content: center;
  align-items: center;
  animation: slideInUp 1s ease;
}

.footerInfo{
  font-family: 'VNF-Comic-Sans';
  font-size: 0.8rem;
  text-align: center;
  animation: fadeIn 1s ease;
}

.socialMediaLinks {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: flipIn 1s ease;
  transition: transform 0.5s ease;
}

.socialMediaLinks a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px 10px;
  color: rgb(0, 191, 255);
  font-size: 15px;
  transition: transform 0.5s ease;
}

.socialMediaLinks a:hover{
  transform: translateY(-5px);
  color: white;
}

.socialMediaLinks svg {
  margin-right: 8px;
}

.socialMediaLinks img{
  margin-right: 5px;
}

.socialIcon{
  width: 20px;
}